{{>layout/header}}

<div class="col-md-12">
    <div class="container"><h1>Product-List</h1>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>쿠폰ID</th>
                <th>쿠폰이름</th>
                <th>월(month)</th>
                <th>할인률</th>
                <th>사용기한</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#coupons}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{month}}</td>
                    <td>{{discount.rate}}</td>
                    <td>{{expirationDate}}</td>
                    <td><a href="/api/v2/coupon/{{id}}">수정</a></td>
                </tr>
            {{/coupons}}
            </tbody>
        </table>
    </div>
</div>

{{>layout/footer}}
