
<script>
    var tr = $('.comment-table').children();
    var td = tr.children();
    var memberId = td.children().eq(1).text();
    $('.btnn').hide();
        {{#memberId}}
        var userId = '{{memberId}}';
        if (memberId === userId) {
            $('.btnn').show();
        }
        {{/memberId}}

    var categoryId = '{{product.categoryId}}';
    $('#next').click(function () {
        if (parseInt(categoryId) === 4) {
            window.location.href = "/reservation/exhibition/{{product.id}}";
        } else {
            window.location.href = "/reservation/calendar/{{product.id}}";
        }
    });

    $('.openModalBtn').on('click', function () {
        var openModalBtn = $(this);
        var commentId = openModalBtn.parent().parent().parent().parent().children().children().eq(0).text();
        $('#modalBox').modal('show');
        $('#comment-update').on('click', function () {
            var data = {
                grade: parseInt($('#grade').val()),
                review: $('#review').val(),
                productId: parseInt('{{product.id}}'),
            };
            $.ajax({
                type: 'PUT',
                url: '/api/v2/comment/'+commentId,
                contentType: "application/json",
                data: JSON.stringify(data)
            }).done(function (message) {
                alert(message);
                window.location.href="/product/detail/"+data.productId;
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        });
    });

    $('.delete').on('click', function () {
        var deleteBtn = $(this);
        var commentId = deleteBtn.parent().parent().parent().parent().children().children().eq(0).text();

        if (confirm("리뷰를 삭제 하시겠습니까?")) {
            $.ajax({
                type: 'DELETE',
                url: '/api/v2/comment/'+commentId,
                contentType: "application/json",
                data: JSON.stringify(commentId)
            }).done(function (message) {
                alert(message);
                var productId = '{{product.id}}';
                window.location.href="/product/detail/"+parseInt(productId);
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
    });
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Element", "갯수", {role: "style"}],
            ["5점", {{grade5}}, "gold"],
            ["4점", {{grade4}}, "gold"],
            ["3점", {{grade3}}, "gold"],
            ["2점", {{grade2}}, "gold"],
            ["1점", {{grade1}}, "gold"]
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);

        var options = {
            title: "평점 별 카운트",
            bar: {groupWidth: "30%"},
            legend: {position: "none"},
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("gradeChart"));
        chart.draw(view, options);
    }
</script>
</body>
</html>