<script>
    var product = {
        init: function () {
            var _this = this;
            $('#product-save').on('click', function () {
                _this.save();
            });
        },
        save: function () {
            var data = {
                categoryId: $('#categoryId').val(),
                name: $('#name').val(),
                description: $('#description').val(),
                count: $('#count').val(),
                startDate: $('#startDate').val(),
                endDate: $('#endDate').val(),
                location: $('#location').val(),

                option1: $('#option1').val(),
                option2: $('#option2').val(),
                option3: $('#option3').val(),
                price1: $('#price1').val(),
                price2: $('#price2').val(),
                price3: $('#price3').val(),

                firstTime: $('#firstTime').val(),
                secondTime: $('#secondTime').val(),
                thirdTime: $('#thirdTime').val(),
                fourthTime: $('#fourthTime').val()
            };
            $.ajax({
                type: 'POST',
                url: '/api/v3/product',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function (message) {
                alert(message);
                window.location.href = '/';
            }).fail(function (error) {
                console.log(error);
                alert(JSON.stringify(error));
            });
        }
    };
    product.init();
</script>
</body>
</html>