<script>
    var coupon = {
        init: function () {
            var _this = this;
            $('#coupon-update').on('click', function () {
                _this.update();
            });
            $('#coupon-delete').on('click', function () {
                _this.delete();
            });
        },
        update: function () {
            var data = {
                name: $('#name').val(),
                month: $('#month').val(),
                rate: $('#rate').val(),
                expirationDate: $('#expirationDate').val()
            };
            var id = $('#id').val();

            $.ajax({
                type: 'PUT',
                url: '/api/v3/coupon/'+id,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function (message) {
                alert(message);
                window.location.href = '/';
            }).fail(function (error) {
                console.log(error);
                alert(JSON.stringify(error));
            });
        },
        delete: function () {
            var id = $('#id').val();
            $.ajax({
                type: 'DELETE',
                url: '/api/v3/coupon/'+id,
                contentType: 'application/json; charset=utf-8',
            }).done(function (message) {
                alert(message);
                window.location.href = '/';
            }).fail(function (error) {
                console.log(error);
                alert(JSON.stringify(error));
            });
        }
    };
    coupon.init();
</script>
</body>
</html>