{{>layout/header}}
<div class="container">
    <div class="jumbotron"><h1>Admin Page</h1><br>
        <div class="row">
            <div class="col-md-6">
                <p>Coupon</p>
                <a href="/coupon" class="btn btn-warning active">쿠폰생성</a>
                <a href="/coupon/list" class="btn btn-warning active">쿠폰목록</a>
                <p>Product</p>
                <a href="/product" class="btn btn-warning active">상품생성</a>
                <a href="/product/list" class="btn btn-warning active">상품목록</a>
            </div>
        </div>
    </div>
</div>
{{>index-js}}