{{>layout/header}}
<div class="container">
    <div class="jumbotron"><h1>SpringBoot JPA WebService TICKETING</h1><br>
        <div class="row">
            <div class="col-md-6">
                {{#member}}
                    환영합니다 <span id="user">{{name}}</span> 님!
                    <a href="/logout" class="btn btn-warning active" role="input">Logout</a>
                    <a href="/member/mypage" class="btn btn-info active" role="input">MyPage</a>
                {{/member}}
                {{^member}}
                    <a href="/oautd2/autdorization/google" class="btn btn-success active" role="input">Google Login</a>
                    <a href="/oautd2/autdorization/naver" class="btn btn-secondary active" role="input">Naver Login</a>
                {{/member}}
                <a href="#" id="addCouponBtn" class="btn btn-dark">이달의 쿠폰 받기</a>
            </div>
        </div>

        <table>
            <tbody id="tbody">
                <tr>
                    <td>장르</td>
                    <td id="tableHead"><input type="button" class="categoryBtn" value="뮤지컬" /></td>
                    <td id="tableHead"><input type="button" class="categoryBtn" value="전통공연" /></td>
                    <td id="tableHead"><input type="button" class="categoryBtn" value="연극" /></td>
                    <td id="tableHead"><input type="button" class="categoryBtn" value="전시회" /></td>
                </tr>
                <tr>
                    <td>지역</td>
                    <td id="tableHead"><input type="button" class="locationBtn" value="서울" /></td>
                    <td id="tableHead"><input type="button" class="locationBtn" value="대학로" /></td>
                    <td id="tableHead"><input type="button" class="locationBtn" value="부산" /></td>
                </tr>
                <tr>
                    <td>기간</td>
                    <td id="tableHead"><input type="button" class="monthBtn" value="2020.03"></td>
                    <td id="tableHead"><input type="button" class="monthBtn" value="2020.04" /></td>
                    <td id="tableHead"><input type="button" class="monthBtn" value="2020.05" /></td>
                    <td id="tableHead"><input type="button" class="monthBtn" value="2020.06" /></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-horizontal table-bordered" id="tbl"></table>
    </div>
</div>
{{>index-js}}