{{>layout/header}}

<div class="container">
    <h1>Write-Comment</h1>
    <form>
        <div class="form-group">
            <label for="name">평점</label>
            <input type="number" class="form-control" id="grade" placeholder="평점을 입력하세요">
        </div>
        <div class="form-group">
            <label for="description">리뷰</label>
            <input type="text" class="form-control" id="review" placeholder="한줄평을 작성하세요">
        </div>
    </form>
    <button type="button" class="btn btn-primary" id="comment-save">등록</button>
</div>

{{>comment/js/write-js}}