<script>
    $(function () {
        $("#datepicker").datepicker({
            dateFormat: 'yy-mm-dd',
            minDate: '{{product.startDate}}',
            maxDate: '{{product.endDate}}',
            beforeShowDay: noPreviousdate,
            onSelect: function (dateText) {
                $.ajax({
                    type: 'GET',
                    url: '/api/v2/calendar/' + dateText + '/' +{{product.id}},
                    async: true,
                    contentType: "application/json; charset=utf-8;",
                    dataType: 'json',
                    data: JSON.stringify(dateText)
                }).done(function (data) {
                    var weekday = false;
                    if (data.firstTime != null) {
                        weekday = true;
                        $("#weekday").html(weekday);
                        $("#firstTime").html(data.firstTime);
                        $("#secondTime").html(data.secondTime);
                        $("#quantity1").html(data.quantity1);
                        $("#quantity2").html(data.quantity2);
                    }
                    if (weekday) {
                        $('#dis').show();
                    } else {
                        $('#dis').hide();
                    }
                    $("#thirdTime").html(data.thirdTime);
                    $("#fourthTime").html(data.fourthTime);
                    $("#quantity3").html(data.quantity3);
                    $("#quantity4").html(data.quantity4);
                    $("#selectDate").html(dateText);
                }).fail(function () {
                    alert("공연날짜가 아닙니다. 다른날짜를 선택해주세요");
                });
            }
        });
    });
    function noPreviousdate(date) {


        if (date < new Date() || date < {{product.startDate}}) return [false];
        return [true];
    };
</script>
<script>
    function fn1() {
        var quantity = $("#quantity1").text();
        if (parseInt(quantity) === 0) {
            alert("매진되었습니다. 다른 회차를 선택해주세요.");
        } else {
            var selectTime = $("#firstTime").text();
            var selectDate = $("#selectDate").text();
            var strLink = "/reservation/options/{{product.id}}?selectTime="+selectTime+"&selectDate="+selectDate+"&quantity="+quantity;
            document.getElementById("next").setAttribute("href",strLink);
        }
    }
    function fn2() {
        var quantity = $("#quantity2").text();
        if (parseInt(quantity) === 0) {
            alert("매진되었습니다. 다른 회차를 선택해주세요.");
        } else {
            var selectTime = $("#secondTime").text();
            var selectDate = $("#selectDate").text();
            var strLink = "/reservation/options/{{product.id}}?selectTime="+selectTime+"&selectDate="+selectDate+"&quantity="+quantity;
            document.getElementById("next").setAttribute("href",strLink);
        }
    }
    function fn3() {
        var quantity = $("#quantity3").text();
        if (parseInt(quantity) === 0) {
            alert("매진되었습니다. 다른 회차를 선택해주세요.");
        } else {
            var selectTime = $("#thirdTime").text();
            var selectDate = $("#selectDate").text();
            var strLink = "/reservation/options/{{product.id}}?selectTime="+selectTime+"&selectDate="+selectDate+"&quantity="+quantity;
            document.getElementById("next").setAttribute("href",strLink);
        }
    }
    function fn4() {
        var quantity = $("#quantity4").text();
        if (parseInt(quantity) === 0) {
            alert("매진되었습니다. 다른 회차를 선택해주세요.");
        } else {
            var selectTime = $("#fourthTime").text();
            var selectDate = $("#selectDate").text();
            var strLink = "/reservation/options/{{product.id}}?selectTime="+selectTime+"&selectDate="+selectDate+"&quantity="+quantity;
            document.getElementById("next").setAttribute("href",strLink);
        }
    }
</script>
</body>
</html>