<script>
    $(function () {
        $('#pay').click(function () {
            var data = {
                {{#reservationId}}
                    reservationId: '{{reservationId}}',
                {{/reservationId}}
                productId: '{{product.id}}',
                productName: '{{product.name}}',
                memberName: $('#memberName').val(),
                tel: $('#tel').val(),
                email: $('#email').val(),
                {{#selectDate}}
                    selectDate: '{{selectDate}}',
                    selectTime: '{{selectTime}}',
                {{/selectDate}}
                location: '{{product.location}}',
                optionName1: $('#choice-option1-name').text(),
                optionName2: $('#choice-option2-name').text(),
                optionName3: $('#choice-option3-name').text(),
                optionCount1: $('#choice-option1-count').text(),
                optionCount2: $('#choice-option2-count').text(),
                optionCount3: $('#choice-option3-count').text(),
                totalCnt: $('#totalCnt').text(),
                totalPrice: $('#current-total-price').text()
            };
            if (data.reservationId != null) {
                $.ajax({
                    type: 'PUT',
                    url: '/api/v2/pay',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data)
                }).done(function (result) {
                    window.location.href = "/reservation/billing/" + result;
                }).fail(function (error) {
                    console.log(error);
                    alert(JSON.stringify(error));
                });
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/api/v2/pay',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data)
                }).done(function (result) {
                    window.location.href = "/reservation/billing/" + result;
                }).fail(function (error) {
                    console.log(error);
                    alert(JSON.stringify(error));
                });
            }
        });
    });
</script>
<script>
    $(function () {
        var option1Name = '{{option1.optionName}}';
        var option2Name = '{{option2.optionName}}';
        var option3Name = '{{option3.optionName}}';
        var price1 = '{{option1.price}}';
        var price2 = '{{option2.price}}';
        var price3 = '{{option3.price}}';
        var count1 = 0;
        var count2 = 0;
        var count3 = 0;
        var totalCnt = 0;
        var totalPrice = 0;
        {{#quantity}}
            var quantity = '{{quantity}}';
        {{/quantity}}

        $('#option1-minus').click(function () {
            --count1;
            --totalCnt;
            if (count1 >= 0) {
                totalPrice -= parseInt(price1);
                $("#choice-option1-count").html(count1);
            }
            if (count1 > 0) {
                $("#choice-option1-name").html(option1Name);
            }
            $("#current-total-price").html(totalPrice);
            $("#current-option1-count").html(count1);
            $("#totalCnt").html(totalCnt);
        });

        $('#option1-plus').click(function () {
            if (totalCnt < quantity) {
                ++count1;
                ++totalCnt;
                totalPrice += parseInt(price1);
                $("#choice-option1-name").html(option1Name);
                $("#choice-option1-count").html(count1);
                $("#current-total-price").html(totalPrice);
                $("#current-option1-count").html(count1);
                $("#totalCnt").html(totalCnt);
            } else {
                alert("잔여좌석 수량 초과입니다!")
            }
        });

        $('#option2-minus').click(function () {
            --count2;
            --totalCnt;
            if (count2 >= 0) {
                totalPrice -= parseInt(price2);
                $("#choice-option2-count").html(count2);
            }
            if (count2 > 0) {
                $("#choice-option2-name").html(option2Name);
            }
            $("#current-total-price").html(totalPrice);
            $("#current-option2-count").html(count2);
            $("#totalCnt").html(totalCnt);
        });

        $('#option2-plus').click(function () {
            if (totalCnt < quantity) {
                ++count2;
                ++totalCnt;
                totalPrice += parseInt(price2);
                $("#choice-option2-name").html(option2Name);
                $("#choice-option2-count").html(count2);
                $("#current-total-price").html(totalPrice);
                $("#current-option2-count").html(count2);
                $("#totalCnt").html(totalCnt);
            } else {
                alert("잔여좌석 수량 초과입니다!")
            }

        });
        $('#option3-minus').click(function () {
            --count3;
            --totalCnt;
            if (count3 >= 0) {
                totalPrice -= parseInt(price3);
                $("#choice-option3-count").html(count3);
            }
            if (count3 > 0) {
                $("#choice-option3-name").html(option3Name);
            }
            $("#current-total-price").html(totalPrice);
            $("#current-option3-count").html(count3);
            $("#totalCnt").html(totalCnt);
        });

        $('#option3-plus').click(function () {
            if (totalCnt < quantity) {
                ++count3;
                ++totalCnt;
                totalPrice += parseInt(price3);
                $("#choice-option3-name").html(option3Name);
                $("#choice-option3-count").html(count3);
                $("#current-total-price").html(totalPrice);
                $("#current-option3-count").html(count3);
                $("#totalCnt").html(totalCnt);
            } else {
                alert("잔여좌석 수량 초과입니다!")
            }
        });
    });
</script>
</body>
</html>